body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.navbar,h1,button {font-family: "Montserrat", sans-serif}
.icon {font-size:200px}

body {
  margin: 0;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #d32f2f;
  padding: 16px;
  text-align: left;
}

.nav-item {
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}

.nav-item:hover {
  background-color: #b71c1c;
}

.button {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}

.content-section {
  padding: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}

.alternate {
  background-color: #e0e0e0;
}

.footer-quote {
  background-color: black;
  color: white;
  text-align: center;
  padding: 64px;
}

.footer {
  background-color: #d32f2f;
  color: white;
  text-align: center;
  padding: 32px;
}

.social-icons i {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.icon-section {
  display: flex;
  align-items: center;
}

.small-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
  
.icon-image {
    width: 400px; /* Nebo jakou velikost chceš */
    height: auto;
    margin-right: 20px;
  }
  
  .links-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .column {
    width: 48%;
  }
  
.text-section {
  flex: 1;
}
